@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto+Slab:wght@900&display=swap');

body {
    background-color: rgb(2, 59, 53);
}

#dashboardHeader {
    height: 5vw;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#homeBtnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2vw;
}

#homeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 2vw;
    background: rgb(15, 159, 144);
    border-radius: 6px;
    border-style: solid;
    border-width: 0.3vw;
    border-image: linear-gradient(45deg, rgb(170, 239, 232), white) 1;
    margin-right: 1vw;
}

#homeBtnLink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: 'Roboto Slab', serif;
    color: white;
}

h1 {
    font-size: 4vw;
}

/*CSS des boutons du dashboard*/
.dashboardTable {
    width: 50%;
    margin: auto;
}

.dashboardContainer {
    width: 100%;
}

.dashboardButton {
    margin: auto;
    border-style: solid;
    border-width: 0.5vw;
    border-image: linear-gradient(45deg, rgb(170, 239, 232), white) 1;
    width: 22vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    background: rgb(3, 114, 103);
    color: white;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

/*CSS des formulaires et tableaux*/
h2 {
    font-size: 3vw;
    background: linear-gradient(120deg,rgb(54, 199, 185) 0%,white 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form, .editTable, .editMissionTable {
    border: 0.5vw solid rgb(23, 157, 143);
    background-color: rgb(215, 236, 235);
    padding: 1vw;
    margin: auto;
    margin-bottom: 1vw;
    font-size: 1vw;
}

form, .editMissionTable {
    width: 60%;
}

.editTable {
    width: 40%;
}

.inputColumn, .labelColumn {
    padding-bottom: 1vw;
    padding-right: 3vw;
}

.labelForm {
    font-weight: bold;
    color: rgb(2, 59, 53);
    font-size: 1.3vw;
}

td.labelColumn {
    width: 30%;
    text-align: right;
    white-space: nowrap;
}

.labelChk {
    font-size: 1vw;
}

.editInput, .inputFormDate, .formChkBox {
    border: 2px solid rgb(23, 157, 143);
    font-family: Didot, serif;
    font-size: 1vw;
}

.formInput {
    height: 2vw;
    width: 40vw;
}

textarea {
    height: 8vw;
    width: 40vw;
    resize: none;
    font-family: Didot, serif;
}

.inputFormDate {
    height: 2vw;
    width: 20vw;
}

.formChkBox {
    overflow:scroll;
    height:8vw;
    width:30vw;
    background-color: white;
}

.formButtonContainer {
    display:flex;
    justify-content: center;
}

.formButton, .editButton, .saveButton {
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    background-color: rgb(23, 157, 143);
    color: white;
    border: 1px solid rgb(23, 157, 143);
    font-weight: bold;
    cursor: pointer;
}

.formButton {
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.editButton, .saveButton {
    margin-top: 1.5vw;
}

table#form {
    margin-bottom: 2vw;
}

.thTable, .thMissionTable {
    text-align: right;
    padding-right: 1.5vw;
}

.thTable {
    width: 40%;
}

.tdMissionTable {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    border-bottom: 2px solid lightgray;
    align-items: center;
}

.tdEnd {
    border-bottom: none;
}

.thMissionTable {
    width: 20%;
}

.tdTable {
    padding-left: 1.5vw;
}

/* Style du bouton de retour en arrière */
.backButton {
    cursor: pointer;
    margin-left: 73%;
    margin-bottom: 3vw;
    margin-top: 1vw;
    display: flex;
    align-items: center; 
    width: 6vw;
    height: 2.5vw;
    background-color: rgb(23, 157, 143);
    border: 0.2vw solid rgb(215, 236, 235);
    border-radius: 5px;
}

.backText {
    color: white;
    font-weight: bold;
    margin-left: 0.5vw;
}