@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto+Slab:wght@900&display=swap');


body {
    font-family: 'Didot', serif;
    font-size: 1.3vw;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    color: rgb(2, 59, 53);
}

table, th, td {
    border: 2px solid lightgray;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

th, td {
    padding: 1%;
}

th {
    background-color: rgb(3, 114, 103);
    color: white;
    width: 10vw;
}

td {
    padding-left: 2vw;
}

.missionDetailsButtons {
    color: white;
    background: rgb(3, 114, 103);
    height: 1.5vw;
    width: 6vw;
    font-size: 1vw;
    font-family: 'Didot', serif;
    
}

.editInput, .editSelect {
    font-size: 1vw;
    border: 3px solid rgb(23, 157, 143);
    height: 2vw;
}

.editInput {
    width: 40vw;
}

.editSelect {
    width: 20vw;
}

/* Bouton de retour à la page d'accueil */
.backButton {
    cursor: pointer;
    margin-left: 83%;
    margin-bottom: 3vw;
    margin-top: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 6.5vw;
    height: 2.5vw;
    background-color: rgb(3, 114, 103);
    border: 0.1vw solid lightgrey;
    border-radius: 5px;
}

.backBtnText {
    color: white;
    font-weight: bold;
    font-size: 1vw;
    margin-left: 0.5vw;
}


/*    <div class="backButtonContainer">
        <a class="backButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="2vw" height="2vw" fill="currentColor" color="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
            <span class="backText">Retour</span>