@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto+Slab:wght@900&display=swap');


body {
    font-family: 'Didot', serif;
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
}

#homeHeader {
    height: 5vw;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#logContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2vw;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 2.5vw;
    background: rgb(3, 114, 103);
    border-radius: 6px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: 'Roboto Slab', serif;
    font-size: 5vw;
    color: rgb(2, 59, 53);
}

table, th, td {
    border-bottom: 2px solid lightgray;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

th, td {
    padding: 1%;
}

th {
    background-color: rgb(3, 114, 103);
    color: white;
}

td {
    text-align: center;
}

a {
    color: rgb(2, 59, 53);
    font-weight: 600;
}

#deleteButton {
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 5vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1vw;
    font-style: italic;
}

#deleteButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.adminButtonContainer {
    margin-top: 3vw;
    width: 100%;
    text-align: center;
}

.adminButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#createButton {
    margin-right: 3vw;
}
